*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;}
ul,ol{list-style: none;padding: 0 2px}
a{text-decoration: none;}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  font-size: 19px;
}

p{vertical-align: middle;}

header{
  position: relative;
  display: flex;
  padding: 20px 20px;
  
}
header::after{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/songList-1.webp) no-repeat ;
  background-size: cover;
  filter: blur(4px);
  z-index: -1;

}
header .left img{
  width: 34vw;
}
header h3{
  margin-left: 20px;
  margin-top: 21px;
  padding-top: 1px;
  font-size: 17px;
  line-height: 1.3;
  color: #fefefe;
  height: 44px;
}

section.summary{
  padding: 20px 20px;
  line-height: 19px;
  color: #666;
  font-size: 16px;
}

section.play_list> h3{
  
  line-height: 23px;
  padding: 5px 10px;
  font-size: 15px;
  color: #666;
  background-color: #eeeff0;
}


.list>li{
  position: relative;
  margin-left: 10px;
  padding-bottom: 6px;
  padding-top: 5px;
  border-bottom: 1px solid #E2E2E3;
  color: #666;
}
.list h3{font-size: 16px;font-weight: normal;padding: 2px 0;color: #000;}
.list a{
  position: absolute;
  top: 17px;
  right: 14px;
  color: #666;
}
.list a .icon{font-size: 24px;}
.songs>.list p{
  display: flex;
  align-items: center;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #888;
  padding: 2px 0;
  color: #666;
}
.collectionWrap{
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
}

a.collection{
  width: 80vw;
  text-align: center;
  color: inherit;
  letter-spacing: 1vw;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(99, 145, 210);
  border-image: initial;
  background: transparent;
  padding: 2vw;
  text-decoration: none;
  border-radius: 5vw;
  margin: 1em;
  color: #fff;
  background:  rgb(99, 145, 210);
}